.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
img{
  width: 200px;
  height:300px
}
table{
  width: 1100px;
  margin-inline: auto;
  border-collapse: collapse;
  margin-top: 20px;
}
th, td{
  font-size: 25px;
  text-align: center;
  vertical-align: bottom;
  border-bottom: 1px solid #282c34;
  padding:8px;
}
tr:nth-child(even){
background-color: chocolate;
}
tr:hover{
  background-color:chartreuse;
}
button{
  background-color: #04AA6D;
  font-size: 16px;
  padding: 14px 40px;
  border-radius: 8px;
  transition-duration: 0.4s;
  margin-right: 30px;
}
button:hover{
  color: white;
}