.App {
  display: flex;
  flex-flow: column nowrap;

  text-align: center;
}

.appHeader {
  display: flex;
  justify-content: space-between;

  /* background-color: rgb(189, 189, 189); */
  /* background-color: rgb(242, 176, 190); */
  /* background-color: teal; */
  /* background-color: rgb(225, 173, 255); */
  background-image: url('./images/background.jpg');

  padding-top: 25px;
  padding-bottom: 25px;
  box-sizing: border-box;
}

.appHeading {
  color: whitesmoke;
  font-family: 'Baskerville', fantasy;
  font-size: 50px;

  margin: 10px;
}

.buttons {
  padding-top: 12.5px;
}

.button {
  margin: 10px;
}

.contactsTable {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  
  margin-top: 10px;
}

.aRow {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.tableHeader {
  /* background-color: rgb(89, 0, 255); */
  /* background-color: rgb(15, 222, 233); */
  background-color: rgb(23, 159, 159);
  color: white;

  font-size: 20px;
}


.contactColumn {
  margin: 5px;
  width: 1300px;
  text-align: center;
}

.headerColumn {
  width: 1300px;
  text-align: center;
  border: solid white 2px;
}

.contactRow {
  margin: 5px;
}

.picture {
  width: 50px;
  height: auto;

  border-radius: 50%;
}
